<!DOCTYPE html>
<html>
  <head>
	  <meta name="format-detection" content="telephone=no">
	  <meta name="msapplication-tap-highlight" content="no">
	  <meta name="viewport" content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width">
    <title><%= title %></title>
  </head>
  <body>
    <div id="main">
	    <h1><%= title %></h1>
	    <p>Welcome to <%= title %></p>
	    <button @click="go('camera')">camera</button>
	    <button @click="go('geolocation')">geolocation</button>
	    <button @click="go('contacts')">contacts</button>
	    <button @click="go('notification')">notification</button>
	    <button @click="go('bcPay')">bcPay</button>
	    <button @click="go('camerapreview')">camerapreview</button>
	    <button @click="go('mediacapture')">mediacapture</button>
	    <button @click="go('share')">share</button>
	    <button @click="go('audioinput')">audioinput</button>
    </div>
  </body>
  <script>
//	  location.href = 'camerapreview'
  </script>
  <script type="text/javascript" src="cdvfile://localhost/<%=locals.cdv_appDir%>/www/cordova.js"></script>
  <script type="text/javascript" src="cdvfile://localhost/<%=locals.cdv_appDir%>/www/js/vue.js"></script>
  <script type="text/javascript" src="cdvfile://localhost/<%=locals.cdv_appDir%>/www/js/vue-resource.min.js"></script>
  <script type="text/javascript" src="js/native.js"></script>
  <script type="text/javascript" src="js/common.js"></script>
  <script>
	  var vm_main = new Vue({
		  el: '#main',
		  data: {},
		  methods: {
			  go: function (name) {
				  location.href = name;
			  }
		  }
	  })
  </script>
</html>
